{% extends "__core.html" %}
{% load staticfiles %}
{% block Title%}Donate{{ block.super }}{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page='donate' %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page='donate' %}
      <h1>Support our Projects</h1>
      <div class="well" id="">
        <h2>
          Giving to GRHU
        </h2>
        <p>
          Thanks for your interest in donating to GRHU. If you're unable to donate through PayPal, you may want to consider donating
          through CanadaHelps or another method. To use CanadaHelps, please <a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=d107128">visit our charity page</a> on their site.
        </p>
        <p>
          For more information on other donation methods, please email <a href="mailto:donate@grhu.org">donate@grhu.org</a>. 
        </p>
        <p>
          AAny donations of $10 or more will be issued a tax receipt, but every donation helps with our projects and the refugees!
        </p>
        <img src="{% static "grhuorg/grhuthanks.jpg" %}" class="pull-left" alt="Thanks from GRHU">
        <p>
          Thanks for your interest in GRHU! 
        </p>
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}