<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-ca">
    <title>Giving Refugees Hope in Uganda</title>
    <meta name="revisit-after" content="1 day"/>
    <meta name="author" content="Philip Bulsink"/>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="GRHU's Construction Page">
    <link rel="stylesheet" href="http://grhu.org/src/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://www.grhu.org/src/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="http://grhu.org/src/bootstrap.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39451852-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  
  <body>
    <header>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a href="/" class="brand">Giving Refugees Hope in Uganda</a>
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/" onClick="_gaq.push(['_trackEvent', 'Construction', 'Nav to Home']);">Home</a>
              </li>
              <li>
                <a href="#" onClick="_gaq.push(['_trackEvent', 'Construction', 'Nav to About']);">About</a>
              </li>
              <li>
                <a href="#" onClick="_gaq.push(['_trackEvent', 'Construction', 'Nav to Donate']);">Donate</a>
              </li>
            </ul>
        </div>
      </div>
    </header>
    <div class="container-fluid">
      <div class="hero-unit">
        <h1><div class="pull-left container-fluid"><img src="http://grhu.org/images/colour-logo-500.gif" class="pull-left" alt="GRHU Logo" height="140" width="200"></div>Giving Refugees</h1>
        <h1>Hope in Uganda</h1>
        <p></p>
        <div class="container-fluid">
          <p class="text-warning">We're under major Construction! You shouldn't see this page after a few days if everything is working properly. Please, if it's still showing next week, <a href="mailto:webmaster@grhu.org" onClick="_gaq.push(['_trackEvent', 'Construction', 'Email Construction']);">send us an email</a> to let us know that we're broken!</p>
        </div>
      </div>
      <hr>
    </div>
    <footer>
      <div class="container">
        <p class="pull-left">&copy; GRHU 2013</p>
        <p class="pull-right"></p>
        <ul class="pull-right inline">
          <li>
            <a href="http://www.facebook.com/grhuganda" onClick="_gaq.push(['_trackEvent', 'Social Click', 'Facebook']); _gaq.push(['_trackEvent', 'Construction', 'Footer to Social']);"><img src="http://grhu.org/images/facebook-icon.gif" width="20" height="20" id="Facebook"></a>
          </li>
          <li>&bull;</li>
          <li>
            <a href="http://plus.google.com/114042273682281707356" rel="publisher" onClick="_gaq.push(['_trackEvent', 'Social Click', 'Google Plus']); _gaq.push(['_trackEvent', 'Construction', 'Footer to Social']);"><img src="http://grhu.org/images/google-plus-icon.gif" width="20" height="20" id="G+"></a>
          </li>
          <li>&bull;</li>
          <li>
            <a href="http://twitter.com/grhuganda" onClick="_gaq.push(['_trackEvent', 'Social Click', 'Twitter']); _gaq.push(['_trackEvent', 'Construction', 'Footer to Social']);"><img src="http://grhu.org/images/twitter-icon.gif" width="20" height="20" id="Twitter"></a>
          </li>
          <li>&bull;<li>
          <li>
            <a href="#" onClick="_gaq.push(['_trackEvent', 'Construction', 'Footer to Terms']);">Terms</a>
          </li>
          <li>&bull;</li>
          <li>
            <a href="#" onClick="_gaq.push(['_trackEvent', 'Construction', 'Footer to Privacy']);">Privacy Policy</a>
          </li>
          <li>&bull;</li>
          <li>
            <a href="#" onClick="_gaq.push(['_trackEvent', 'Construction', 'Footer to Contact-Us']);">Contact Us</a>
          </li>
          <li>&bull;</li>
          <li>
            <a href="#" onClick="_gaq.push(['_trackEvent', 'Construction', 'Footer to Sitemap']);">Sitemap</a>
          </li>
        </ul>
        <p></p>
      </div>
    </footer>
  </body>

</html>