{% extends "__core.html" %}
{% block Title%}Donate{{ block.super }}{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page='donate' %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page='donate' %}
      <h1>Support our Projects</h1>
      <div class="well" id="">
        <h2>
          Giving to GRHU
        </h2>
        <p>
          GRHU has now recieved charitable organization status from the CRA!! Any dontations of $10 or more are eligible for a reciept for tax purposes!
        </p>
        <p>
          If you'd like to help out by attending an event, find out when the next one is <a href="{% url 'event-index' %}">here</a>.
        </p>
        <p>To donate to GRHU online, please donate through Paypal:</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="ZSKHVK4YCVDH4">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        <p>You could also visit us at our CanadaHelps page and donate through them:</p>
        <a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=d107128"><img src="http://www.canadahelps.org/image/DonateNowLink/en/Donate1.png" border="0" alt="Donate To GRHU Through CanadaHelps.org!"></a>
        <p>
          For information on donating in other ways, send us an <a href="mailto:donate@grhu.org">email</a>. Soon you'll be able to donate online via Paypal as well.
        </p>
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}