{% extends "__core.html" %}
{% block Title%}Donate{{ block.super }}{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page='donate' %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page='donate' %}
      <h1>Support our Projects</h1>
      <div class="well" id="">
        <h2>
          Giving to GRHU
        </h2>
        <p>
          GRHU has now recieved charitable organization status from the CRA!! Any dontations of $10 or more are eligible for a reciept for tax purposes!
        </p>
        <p>
          If you'd like to help out by attending an event, find out when the next one is <a href="{% url 'event-index' %}">here</a>.
        </p>
        <p>To donate to GRHU online, please visit our page at CanadaHelps.org:</p>
        <a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=d107128"><img src="//www.canadahelps org/image/DonateNowLink/en/Donate4.png" border="0" alt="Donate To GRHU Through CanadaHelps.org!"></A>
        <p>
          For information on donating in other ways, send us an <a href="mailto:donate@grhu.org">email</a>. Soon you'll be able to donate online via Paypal as well.
        </p>
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}