{% extends "__core.html" %}
{% block Title%}Donate{{ block.super }}{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page='donate' %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page='donate' %}
      <h1>Support our Projects</h1>
      <div class="well" id="">
        <h2>
          Giving to GRHU
        </h2>
        <p>
          GRHU has now recieved charitable organization status from the CRA!! Any dontations of $10 or more are eligible for a reciept for tax purposes!
        </p>
        <p>
          If you'd like to help out by attending an event, find out when the next one is <a href="{% url 'event-index' %}">here</a>.
        </p>
        <p>
          For information on donating, send us an <a href="mailto:donate@grhu.org">email</a>. Soon you'll be able to donate online via Paypal.
        </p>
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}