{% extends "__core.html" %}
{% block Title%}Terms{{ block.super }}{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page='about' %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page='terms' %}
      <div class="container">
        <div class="well">
          <h1>GRHU Privacy Policy</h1>
          <hr>
          <p>
            Giving Refugees Hope in Uganda (GRHU) takes your privacy seriously.
            This privacy policy describes what personal information we collect and how we use it.</p>
          <h3>Routine Information Collection</h3>
          <p>
            All web servers track basic information about their visitors.
            This information includes, but is not limited to, IP addresses,
            browser details, timestamps and referring pages. None of this
            information can personally identify specific visitors to this site.
            The information is tracked for routine administration and maintenance purposes.
          </p>
          <h3>Cookies and Web Beacons</h3>
          <p>
            Where necessary, GRHU uses cookies to store information about a
            visitor's preferences and history in order to better serve the
            visitor and/or present the visitor with customized content.
          </p>
          <p>
            Advertising partners and other third parties may also use cookies,
            scripts and/or web beacons to track visitors to our site in order to
            display advertisements and other useful information. Such tracking
            is done directly by the third parties through their own servers and
            is subject to their own privacy policies.
          </p>
          <h3>Controlling Your Privacy</h3>
          <p>
            Note that you can change your browser settings to disable cookies if
            you have privacy concerns. Disabling cookies for all sites is not
            recommended as it may interfere with your use of some sites. The best
            option is to disable or enable cookies on a per-site basis. Consult
            your browser documentation for instructions on how to block cookies
            and other tracking mechanisms.
          </p>
          <h4>Special Note About Google Advertising</h4>
          <p>
            Any advertisements served by Google, Inc., and affiliated companies
            may be controlled using cookies. These cookies allow Google to
            display ads based on your visits to this site and other sites that
            use Google advertising services. <a href="http://www.google.com/policies/technologies/ads/" target="_blank">Learn how</a>
            to opt out of Google's cookie usage. As mentioned above, any tracking
            done by Google through cookies and other mechanisms is subject to
            Google's own privacy policies.
          </p>
          <h3>External Links</h3>
          <p>
            This website contains links to external resources. This privacy policy
            does not cover those sites. We encourage you to read privacy statements
            on all linked sites as their policies may differ from ours.
          </p>
          <h3>Changes to the Policy</h3>
          <p>
            Any changes made to the privacy policy will be reflected on this page
            and notifications may be posted on the website's homepage or other key locations.
          </p>
          <h3>Contact Information</h3>
          <p>
            Concerns or questions about this privacy policy can be directed to
            <a href="mailto:privacy@grhu.org">GRHU</a> for further clarification.
          </p>
        </div>
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}