{% extends "__core.html" %}
{% load markdowntag %}
{% block Title %}{{article.title|title}} | Press{% endblock %}
{% block Description %}{{article.byline}}{% endblock %}
{% block Extra_Head %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@grhuganda">
    <meta name="twitter:title" content="{{article.title|title}}">
    <meta property="og:title" content="{{article.title|title}}">
    <meta name="twitter:description" content="{{article.byline}}">
    <meta property="og:description" content="{{article.byline}}">
    <meta name="twitter:domain" content="grhu.org">
    {% if article.image %}
    <meta name="twitter:image:src" content="{{article.image.url}}">
    <meta property="og:image" content="{{article.image.url}}">
    {% endif %}
{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page='press' %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page='press' %}
      <div class="container">
        <div class="well">
          <h1>{{article.title|title}}</h1>
          <h5>Posted {{article.pub_date|date:"M jS, Y" }}</h5>
          {% if article.image %}
          <figure style="float:right; max-width:40%;">
            <a href="{{ request.get_full_path }}"><img src="{{article.image.url}}" alt="{{article.tooltip}}" style="max-width:100%;"></a>
            <figcaption>{{article.caption|my_markdown}}</figcaption>
          </figure>
          {% endif %}
          {{article.content|my_markdown}}
        </div>
        <div class="well" itemscope itemtype="http://data-vocabulary.org/Event">
          <table>
            <tbody>
              <tr>
                <td>Event:</td>
                <td><span itemprop="description">{{article.title}}</span></td>
              </tr>
              {% if article.location_name %}
              <tr>
                <td>Location:</td>
                <td><span itemprop="location">{{article.location_name}}</span></td>
              </tr>
              {% endif %}
              {% if article.location_street_address %}
              <tr>
                <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                <td>Address:</td>
                <td>
                  <a href="{{article.location_maps_url}}">
                    <span itemprop="street-address">{{article.location_street_address}}</span><br>
                    <span itemprop="locality">{{article.location_city}}</span><br>
                    <span itemprop="region">{{article.location_provence}}</span>
                  </a>
                </td>
                </span>
              </tr>
              {% endif %}
              <tr>
                <td>Time:</td>
                <td><time itemprop="startDate" datetime="{{event.startdatetime}}">{{event.date|date:'l, F j, Y'}} {{event.start|date:'P'}}{% if event.end %}</time> - <time itemprop="endDate" datetime="{{event.enddatetime}}">{{event.end|date:'P'}}{% endif %}</time></td>
              </tr>
              {% if event.price %}
              <tr>
                <td>Price:</td>
                <td>{{event.price}}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        {% if event.promo_poster %}
        <p>Check out the <a href="{{event.promo_poster.url}}" target="_blank" onclick="_gaq.push(['_trackEvent', 'File Download', 'Download', '{{event.title|title}} Promo Poster', 0]);">promotional poster</a> for this event.</p>
        {% endif %}
        <p>For information on this or any other event, please visit the <a href="{% url 'grhuorg.views.helpout' %}">how to help</a> page.</p>
        <p><a href="mailto:{{article.author_email}}?subject=Comments about {{article.title}}"onclick="_gaq.push(['_trackEvent', 'Email', 'Click to Contact', '{{event.title|title}} Email', 0]);">Contact GRHU about this event.</a></p>
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}
