{% extends "__core.html" %}
{% load markdowntag %}
{% block Title %}{{titlemod}}Events{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page='events' %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page='events' %}
      <div class="container">
        <h1>GRHU {{titlemod}}Events</h1>
        <div class="container">
          <div class="well">
            <h1><a href="{% url 'event-detail' event.id %}">Latest Event: {{event.title|title}}</a></h1>
            {% if event.image %}
            <figure style="float:right; max-width:40%;">
              <a href="{% url 'event-detail' event.id %}"><img src="{{event.image.url}}" alt="{{event.tooltip}}" style="max-width:100%;"></a>
              <figcaption>{{event.caption|my_markdown}}</figcaption>
            </figure>
            {% endif %}
            {{event.content|my_markdown}}
            <br>
            <p><a href="{% url 'event-detail' event.id %}" class="btn btn-warning btn-large">More Information &raquo;</a></p>
          </div>
        </div>
        {% if items %}
        <h2>Other GRHU events:</h2>
        <div class="row-fluid">
          {% for item in items %}
          <div class="span6">
            <div class="container">
              <div class="well">
                <h2>{{item.title|title}}</h2>
                <p>{{item.byline}}</p>
                <p><span class="label">{{item.pub_date|date:"j M, Y"}}</span></p>
                <p><a class="btn" href="{% url 'event-detail' item.id %}">Read More &raquo;</a></p>
              </div>
            </div>
          </div>
            {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row-fluid">
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        <p>
          GRHU periodically puts on events throughout the year. If you're
          interested in helping out with any events, whether planning,
          volunteering on the day of an event, or running your own event
          entirely, <a href="{% url 'grhuorg.views.helpout' %}"> read more</a>
          about how to help out and where we have volunteer opportunities.
        </p>
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}
