{% extends "__core.html" %}
{% block Title%}Home{{ block.super }}{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page='home' %}{% endblock %}
{% block body %}
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1><img src="../static/grhuorg/colour-logo-500.gif" class="pull-left" alt="GRHU Logo" height="200" width="200">Giving Refugees<br>Hope in Uganda</h1>
        <br>
        <div class="container">
          <p class="pull-left text-warning">GRHU is dedicated to help lift the refugees in Uganda out of poverty and give them hope for the future.<br></p>
          <p></p>
        </div>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>About GRHU</h2>
          <p>GRHU is an Ottawa based charity supporting refugees living in Uganda. Read more about what we are doing and who we are</p>
          <p><a class="btn btn-inverse" href="{% url 'about.views.index' %}">See More &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Projects</h2>
          <p>GHRU is working on a number of projects in and around Kampala, Uganda, to support refugees displaced by warfare in neighbouring countries.</p>
          <p><a class="btn btn-inverse" href="{% url 'projects.views.index' %}">Learn More &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Events</h2>
          <p>GRHU hosts events in the Ottawa region a number of times a year. Find out what we have planned, and how you can get involved!</p>
          <p><a class="btn btn-inverse" href="{% url 'events.views.index' %}">View Details &raquo;</a></p>
        </div>
      </div>
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}