{% extends "__core.html" %}
{% block Title %}{{project.title|title}} | Projects{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page='project' %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page=active_page %}
      <div class="container">
        <div class="well">
          <h1>{{project.title|title}}</h1>
          <h5>Posted {{project.pub_date|date M jS, Y }}{% if project.mod_date != project.pub_date%} Modified {{project.mod_date|date M jS, Y }}{% endif %}</h5>
          {% if project.image %}
          <figure style="float:right; max-width:40%;">
            <img src="{{project.image.url}}" alt="{{project.tooltip}}" style="max-width:100%;">
            <figcaption>{{project.caption|linebreaksbr}}</figcaption>
          </figure>
          {% endif %}
          {{project.content|linebreaks}}
          {% if project.albums %}
          <p>
            View photo albums from this project:
            <ul>
            {% for album in project.albums.all %}
              <li><a href="{% url 'album' album.id %}">{{album.title}}</a></li>
            {% endfor %}
            </ul>
          </p>
          {% endif %}
          <p><a href="mailto:info@grhu.org?subject=Comments about {{project.title}}">Contact us about this project</a></p>
        </div>
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}
