{% extends "__core.html" %}
{% load markdowntag %}
{% block Title %}{{project.title|title}} | Projects{% endblock %}
{% block Description %}{{project.byline}}{% endblock %}
{% block Extra_Head %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@grhuganda">
    <meta name="twitter:domain" content="grhu.org">
    <meta name="twitter:title" content="{{project.title|title}}">
    <meta name="twitter:description" content="{{project.byline}}">
    {%if project.image %}
    <meta name="twitter:image:src" content="{{project.image.url}}">
    <meta property="og:image" content="{{project.image.url}}">
    {% endif %}
    <meta property="og:title" content="{{project.title|title}}">
    <meta property="og:description" content="{{project.byline}}">
{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page='projects' %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page='project' %}
      <div class="container">
        <div class="well">
          <h1>{{project.title|title}}</h1>
          <h5>Project Started: {{project.start_date|date:"M jS, Y" }}</h5>
          {% if project.image %}
          <figure style="float:right; max-width:40%;">
            <img src="{{project.image.url}}" alt="{{project.tooltip}}" style="max-width:100%;">
            <figcaption>{{project.caption|my_markdown}}</figcaption>
          </figure>
          {% endif %}
          {{project.content|my_markdown}}
          <p>For information on how to help out with this or any other project, please visit the <a href="{% url 'grhuorg.views.helpout' %}">how to help</a> page.</p>
          <p>To donate to this project or GRHU in general, please visit the <a href="{% url 'grhuorg.views.donate' %}">Donate</a> page.</p>
          <p><a href="mailto:info@grhu.org?subject=Comments about {{project.title}}">Contact us about this project</a></p>
        </div>
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}
