{% extends "__core.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% block Title %}Projects List{% endblock %}
{% block Extra_Head%}
{% if earlier_pages %}
<link rel="previous" href="{% url 'project-lister' list_previous %}">
{% endif %}
{% if later_pages %}
<link rel="next" href="{% url 'project-lister' list_next %}">
{% endif %}
{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page='projects' %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page='projects' %}
      <div class="container">
        <h1>GRHU Projects</h1>
        <p>Showing project postings {{start_number}}-{{end_number}} of {{total_articles}}</p>
        <p>
          {% if earlier_pages %}
          <a class="btn" href="{% url 'project-lister' list_previous %}">&laquo; Previous</a>
          {% else %}
          <a class="btn" href="#" onclick="return false" disabled=True>&laquo; Previous</a>
          {% endif %}
          {% if later_pages %}
          <a class="btn" href="{% url 'project-lister' list_next %}">Next &raquo;</a>
          {% else %}
          <a class="btn" href="#" onclick="return false" disabled=True>Next &raquo;</a>
          {% endif %}
        </p>
        <hr>
        {% for item in items %}
        <div class="container">
          {% if item.image %}
          {% thumbnail item.image "100x100" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
          {% endif %}
          <h3><a href="{% url 'project-detail' item.id %}">{{item.title|title}}</a></h3>
          <p>
            <small>Project Dates {{item.start_date|date:"j M, Y"}} - {{item.end_date|date:"j M, Y"}}</small><br>
            {{item.description}}
          </p>
          <hr>
        </div>
        {% endfor %}
        {% if earlier_pages or later_pages %}
        <p>
          {% if earlier_pages %}
          <a class="btn" href="{% url 'project-lister' list_previous %}">&laquo; Previous</a>
          {% else %}
          <a class="btn" href="#" onclick="return false" disabled=True>&laquo; Previous</a>
          {% endif %}
          {% if later_pages %}
          <a class="btn" href="{% url 'project-lister' list_next %}">Next &raquo;</a>
          {% else %}
          <a class="btn" href="#" onclick="return false" disabled=True>Next &raquo;</a>
          {% endif %}
        </p>
        {% endif %}
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}
