{% extends "__core.html" %}
{% block Title%}Terms{{ block.super }}{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page='about' %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page='terms' %}
      <div class="container">
        <div class="well">
          <h1>Terms and Conditions of Use</h1>
          <strong>1. Terms</strong>
            <p>
              By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use,
              all applicable laws and regulations, and agree that you are responsible for compliance with any applicable
              local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site.
              Unless otherwise attributed, the materials contained in this web site are the intellectual property of
              Giving Refugees Hope in Uganda (hereby known as GRHU) or its partners, and are protected by applicable
              copyright and trademark law.
            </p>
          <strong>2. Use License</strong>
            <p>
              <ol type=a>
                <li>
                  Permission is granted to temporarily download one copy of the materials (information or software) on
                  GRHU's web site for personal, non-commercial transitory viewing or printing. This is the grant of a
                  license, not a transfer of title, and under this license you may not:
                  <ol type=i>
                    <li>modify or copy the materials;</li>
                    <li>use the materials for any commercial purpose, or for any public display (commmercial or non-commercial);</li>
                    <li>use this web site for any purposes related to marketing;</li>
                    <li>remove any copyright or other proprietary notations from the materials;</li>
                    <li>republish material from this web site (including republication on another web site); or</li>
                    <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
                  </ol>
                </li>
                <li>
                  You must not use this web site in any way that causes, or may cause, damage to the web site or
                  impairment of the availability or accessibility of the web site, or in any way which is unlawful,
                  illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful
                  purpose or activity. You must not use this web site to copy, store, host, transmit, send, use, publish
                  or distribute any material which consists of (or is linked to) any spyware, computer virus, trojan
                  horse, worm, keystroke logger, root kit or other malicious computer software. You must not conduct
                  any systematic or automated data collection activities (including, without limitation, scraping, data
                  mining, data extraction and data harvesting) on or in relation to this web site. You must not use this
                  web site to transmit or send unsolicited commercial communications.
                </li>
                <li>
                  This license shall automatically terminate if you violate any of these restrictions, and may be terminated
                  by GRHU at any time. Upon terminating your viewing of these materials, or upon the termination of this
                  licence, you must destroy any downloaded materials in your possession whether in electronic or printed
                  format.
                </li>
              </ol>
            </p>
          <strong>3. Disclaimer</strong>
            <p>
              The materials on GRHU's web site are provided "as is". GRHU makes no warranties, expressed or implied, and
              hereby disclaims and negates all other warranties, including without limitation, implied warranties or c
              onditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property
              of other violation of rights. Further, GRHU does not warrant or make any representations concerning the
              accuracy, likely results, or reliability of the use of the materials on its internet web site or otherwise
              relating to such materials or on any sites linked to this site.
            </p>
          <strong>4. Limitations</strong>
            <p>
              In no event shall GRHU or its suppliers be liable for any damages (including, without limitation, damages
              for loss of data or profit, or due to business interruption) arising out of the use or inability to use
              the materials on GRHU's web site, even if GRHU or a GRHU authorized representative has been notified orally
              or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on
              implied warranties, or limitations of liability for consequential or incidental damages, these limitations
              may not apply to you. 
            </p>
          <strong>5. Revisions and Errata</strong>
            <p>
              The materials appearing on GRHU's web site could include technical, typographical, or photographic errors.
              GRHU does not warrant that any of the materials on its web site are accurate, complete, or current. GRHU
              may make changes to the materials contained on its web site at any time without notice. GRHU does not,
              however, make any commitment to update the materials.
            </p>
          <strong>6. Links</strong>
            <p>
              GRHU has not reviewed all of the sites linked to its web site and is not responsible for the contents of
              any such linked site. The inclusion of any link does not imply endorsement by GRHU of the site. Use of
              any such linked web site is at the user's own risk.
            </p>
          <strong>7. Unenforceable Provisions</strong>
            <p>
              If any provision of this web site disclaimer is, or is found to be, unenforceable under applicable law,
              that will not affect the enforceability of the other provisions of this web site disclaimer. If a provision
              of these terms and conditions is determined by any court or other competent authority to be unlawful and/or
              unenforceable, the other provisions will continue to be in effect. If any unlawful and/or unenforceable
              provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted,
              and the rest of the provision will continue in effect. 
            </p>
          <strong>8. Site Terms of Use Modifications</strong>
            <p>
              GRHU may revise these terms of use for its web site at any time. By using this web site you are agreeing to
              be bound by the then current version of these Terms and Conditions of Use.
            </p>
          <strong>9. Governing Law</strong>
            <p>
              Any claim relating to GRHU's web site shall be governed by the laws of the Province of Ontario without
              regard to its conflict of law provisions.
            </p>
        </div>
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}