{% extends "__core.html" %}
{% block Title %}{{article.type}}{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page=active_page %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page=active_page %}
      <div class="container">
        <div class="well">
          <h1>{{article.title}}</h1>
          <h5>{{article.author}}</h5>
          <figure style="float:right; max-width:40%;">
            <img src="{{article.imagesrc}}" alt="{{article.tooltip}}" style="max-width:100%;">
            <figcaption>{{article.caption}}</figcaption>
          </figure>
          <p>{{article.content}}</p>
          {% if article.authoremail%}
            <p><a href="mailto:{{article.authoremail}}">Contact the Author.</a></p>
          {% endif %}
        </div>
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}
