{% extends "__core.html" %}
{% block Title %}{{article.type}}{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page=active_page %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page=active_page %}
      <div class="container">
        <div class="well">
          <h1>{{event.title|title}}</h1>
          <h5>Posted {{event.pub_date|date M jS, Y }}</h5>
          {% if event.image %}
          <figure style="float:right; max-width:40%;">
            <img src="{{article.image.url}}" alt="{{article.tooltip}}" style="max-width:100%;">
            <figcaption>{{article.caption}}</figcaption>
          </figure>
          {% endif %}
          {{article.content|linebreaks}}
        </div>
        <div class="well" itemscope itemtype="http://data-vocabulary.org/Event">
          <table>
            <tbody>
              <tr>
                <td>Event:</td>
                <td><span itemprop="description">{{event.title}}</span></td>
              </tr>
              <tr>
                <td>Location:</td>
                <td><span itemprop="location">{{event.location_name}}</span></td>
              </tr>
              {% if event.location_street_address %}
              <tr>
                <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                <td>Address:</td>
                <td>
                  <span itemprop="street-address"><a href="{{event.location_maps_url}}">{{event.location_street_address}}</a></span><br>
                  <span itemprop="locality">{{event.location_city}}</span><br>
                  <span itemprop="region">{{event.location_provence}}</span>
                </td>
                </span>
              </tr>
              {% endif %}
              <tr>
                <td>Time:</td>
                <td><time itemprop="startDate" datetime="{{event.startdatetime}}">{{event.date|date:'l, F j, Y'}} {{event.start|date:'P'}}{% if event.end %}</time><time itemprop="endDate" datetime="{{event.enddatetime}}"> - {{event.end|date:'P'}}{% endif %}</time></td>
              </tr>
              {% if event.price %}
              <tr>
                <td>Price:</td>
                <td>{{event.price}}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <p><a href="mailto:{{article.author_email}}?subject=Comments about {{article.title}}">Contact the Author.</a></p>
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}
