{% load staticfiles %}
      <div class="container">
        <p class="pull-left">&copy; GRHU {% now "Y" %}</p>
        <p class="pull-right"></p>
        <ul class="pull-right inline">
          <li>
            <a href="http://www.facebook.com/grhuganda" ><img src="{% static "grhuorg/facebook-icon.gif" %}" width="20" height="20" id="Facebook"></a>
          </li>
          <li>&bull;</li>
          <li>
            <a href="http://plus.google.com/GrhuOrg"><img src="{% static "grhuorg/google-plus-icon.gif" %}" width="20" height="20" id="G+"></a>
          </li>
          <li>&bull;</li>
          <li>
            <a href="http://twitter.com/grhuganda"><img src="{% static "grhuorg/twitter-icon.gif" %}" width="20" height="20" id="Twitter"></a>
          </li>
          <li>&bull;<li>
          <li>
            <a href="{% url 'grhuorg.views.terms' %}">Terms</a>
          </li>
          <li>&bull;</li>
          <li>
            <a href="{% url 'grhuorg.views.privacy' %}">Privacy Policy</a>
          </li>
          <li>&bull;</li>
          <li>
            <a href="{% url 'grhuorg.views.contact' %}">Contact Us</a>
          </li>
          <li>&bull;</li>
          <li>
            <a href="{% url 'grhuorg.views.sitemap' %}">Sitemap</a>
          </li>
        </ul>
        <p></p>
      </div>