{% extends "__core.html" %}
{% block Title %}{{active_page|title}} List{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page=active_nav %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page=active_page %}
      <div class="container">
        <h1>{{activepage|title}}</h1>
        <p>Showing {{active_page}} articles {{start_number}}-{{end_number}} of {{total_articles}}</p>
        <br>
        <hr>
        {% for item in items %}
        <h2>{{item.title|title}}</h2>
        <p>{{item.byline}}</p>
        <p><span class="label">Published {{item.pub_date|date:"j M, Y"}} by {{item.author|title}}</span></p>
        <p><a class="btn" href="{% url {{urlpointertype}} item.id %}">Read More &raquo;</a></p>
        <hr>
        {% endfor %}
        {% if earlier_pages or later_pages %}
        <p>
          {% if earlier_pages %}<a class="btn" href="{% url {[urlpointertype}} list_pg-1 %}">&laquo; Previous</a>{% endif %}
          {% if later_pages %}<a class="btn" style="text-align:right" href="{% url {[urlpointertype}} list_pg+1 %}">Next &raquo;</a>{% endif %}
        </p>
        {% endif %}
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}
