              <li{% if active_page == 'home' %} class="active"{% endif %}>
                <a href="{% url 'grhuorg.views.index' %}">Home</a>
              </li>
              <li{% if active_page == 'about' %} class="active"{% endif %}>
                <a href="{% url 'about.views.index' %}">About</a>
              </li>
              <li{% if active_page == 'projects' %} class="active"{% endif %}>
                <a href="{% url 'project.views.index' %}">Projects</a>
              </li>
              <li{% if active_page == 'donate' %} class="active"{% endif %}>
                <a href="{% url 'grhuorg.views.donate' %}">Donate</a>
              </li>