<!doctype html>

<html>
  
  <head>
    <meta charset="utf-8">
    <title>New Page</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/grhuorg/united_bootstrap.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      @media(max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Giving Refugees Hope in Uganda</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a>Home</a>
              </li>
              <li class="active">
                <a>Donate</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
          <a class="btn pull-right btn-inverse" href="/login">Login</a>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1><img src="http://grhu.org/images/tlogo500.gif" class="pull-left" alt="GRHU Logo" height="140" width="200">Giving Refugees</h1>
        <h1>Hope in Uganda</h1>
        <p></p>
        <div class="container">
          <p class="pull-left text-warning">GRHU is dedicated to help lift the refugees in Uganda out of poverty and give them hope for the future.<br></p>
          <p></p>
        </div>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Projects</h2>
          <p>GHRU is working on a number of projects in and around Kampala, Uganda, to support refugees displaced by warfare in neighbouring countries.</p>
          <p><a class="btn btn-warning" href="#">Learn More &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Events</h2>
          <p>GRHU hosts events in the Ottawa region a number of times a year. Find out what we have planned, and how you can get involved!</p>
          <p><a class="btn btn-warning" href="#">View Details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>About GRHU</h2>
          <p>GRHU is an Ottawa based charity supporting refugees living in Uganda. Read more about what we are doing and who we are</p>
          <p><a class="btn btn-warning" href="#">See More &raquo;</a></p>
        </div>
      </div>
      <hr>
      <footer>
        <div class="container">
          <p class="pull-left">&copy; GRHU 2013</p>
          <p class="pull-right"></p>
          <ul class="pull-right inline">
            <li>
              <a href="/facebook"><img src="https://app.divshot.com/img/placeholder-100x100.gif" width="20" height="20" id="Facebook"></a>
            </li>
            <li>•</li>
            <li>
              <a href="/g+"><img src="https://app.divshot.com/img/placeholder-100x100.gif" width="20" height="20" id="G+"></a>
            </li>
            <li>•</li>
            <li>
              <a href="/twitter"><img src="https://app.divshot.com/img/placeholder-100x100.gif" width="20" height="20" id="Twitter"></a>
            </li>
            <li>•</li>
            <li>
              <a href="/terms">Terms</a>
            </li>
            <li>•</li>
            <li>
              <a href="/privacy">Privacy Policy</a>
            </li>
            <li>•</li>
            <li>
              <a href="/contact-us">Contact Us</a>
            </li>
            <li>•</li>
            <li>
              <a href="/sitemap">Sitemap</a>
            </li>
          </ul>
          <p></p>
        </div>
      </footer>
    </div>
    <!-- /container -->
  </body>

</html>