{% extends "__core.html" %}
{% load markdowntag %}
{% load staticfiles %}
{% block Title %}About {{ptitle}}{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page='about' %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page='about' %}
      <div class="container">
        <h1>GRHU {{ptitle}}</h1>
        {% for person in staff %}
        <div class="container">
          <div class="well">
            <h2>{{person.first_name}}</h2>
            {% if article.image %}
            <figure style="float:right; max-width:30%; max-height:250px">
              <img src="{{person.image.url}}" alt="{{person.name}}" style="max-width:100%;">
              <figcaption>{{person.name}}</figcaption>
            </figure>
            {% endif %}
            {{person.content|my_markdown}}
          </div>
        </div>
        {% endfor %}
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}
