{% extends "__core.html" %}
{% load markdowntag %}
{% load staticfiles %}
{% block Title %}About {{ptitle}}{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page='about' %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page='about' %}
      <div class="container">
        <h1>GRHU {{ptitle}}</h1>
        {% for person in staff %}
        <div class="container">
          <div class="well">
            <h2>{{person.name}}</h2>
            {% if person.image %}
            <img src="{{person.image.url}}" alt="{{person.name}}" style="float:right;max-width:100;max-height:100;">
            {% endif %}
            {{person.content|my_markdown}}
            {% if person.email %}
            <p><a href="mailto:{{person.email}}">Contact {{person.first_name}} &raquo;</a></p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}
