{% extends "__core.html" %}
{% block Title%}{{pagetitle}}{{ block.super }}{% endblock %}
{% block Navbar%}{% include "_navbar.html" with active_page=active_nav %}{% endblock %}
{% block body %}
{% include "_sidebar.html" with active_page=active_page %}
      <div class="container">
        <div class="hero-unit">
          <h1>{{list[0].title}}</h1>
          <p>{{list[0].byline}}</p>
          <p><a href="{{url active_detail_url list[0].id}}" class="btn btn-warning btn-large">Read More &raquo;</a></p>
        </div>
        <p>
          {{ preamble|safe }}
        </p>
        <div class="row-fluid">
          {% for item in list[1:] %}
            <div class="span4">
              <h2>{{item.title}}</h2>
              <p>{{item.byline}}</p>
              <p><a class="btn" href="{% active_detail_url item.id %}">View details &raquo;</a></p>
            </div>
          {% endfor %}
        </div>
      </div>
{% include "_sidebar_close.html" %}
{% endblock %}
{% block Footer %}{% include "_footer.html" %}{% endblock %}